<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
id="cordova-plugin-nearbee" version="0.0.3">
    <name>NearbeePlugin</name>
    <description>A Cordova plugin that allows users to receive notifications from beacons.</description>
    <keywords>cordova,android,nearbee,beacons,ios</keywords>
    <repo>https://github.com/Beaconstac/cordova-plugin-nearbee.git</repo>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <js-module src="www/nearbeeplugin.js" name="nearbeePlugin">
        <clobbers target="window.plugins.nearbeePlugin" />
    </js-module>
    <framework src="co.nearbee:nearbeesdk:1.1.4" />
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="NearbeePlugin">
                <param name="android-package" value="com.mobstac.cordova.plugin.NearbeePlugin"/>
            </feature>
        </config-file>
        <edit-config file="AndroidManifest.xml" target="/manifest/uses-sdk" mode="merge">
            <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />
        </edit-config>
        <source-file src="src/android/NearbeePlugin.java" target-dir="src/com/mobstac/cordova/plugin" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NearbeePlugin">
                <param name="ios-package" value="NearbeePlugin" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription" comment="Default usage descriptions: override as necessary in .plist">
            <string>This app requires access to your location when the screen is on and the app is displayed.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription" comment="iOS 11 or greater">
            <string>This app requires constant access to your location in order to receive notifications from beacons which are in proximity of the device.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription" comment="iOS 10 or below">
            <string>This app requires constant access to your location in order to receive notifications from beacons which are in proximity of the device.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>bluetooth-central</string>
            </array>
        </config-file>
        <framework src="NearBee" type="podspec" spec="0.1.0" />
        <header-file src="src/ios/NearbeePlugin.h" />
        <source-file src="src/ios/NearbeePlugin.m" />
    </platform>
</plugin>